{% extends 'adminlte/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4  %}

{% block content  %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Treino A</title>
</head>
<body>
    <div class="container">
        <h1><b>TREINO A</b></h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-secondary" href="{% url 'listar_exercicio' %}">Voltar</a>
        <input class="btn btn-success" type="submit" value="Salvar">
    </form>

{% endblock %}


{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

        $(document).ready(function(){



                  $("#id_repetições").mask("0x00");
        });

{% endblock %}