{% extends 'adminlte/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4  %}

{% block content  %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Matricula</title>
</head>
<body>
    <div class="container">
        <h1><b>FREQUÊNCIA</b></h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-secondary" href="{% url 'listar_frequencia' %}">Voltar</a>
        <input class="btn btn-success" type="submit" value="Salvar">
    </form>

{% endblock %}
