<h2 class="section-title" id="planos">
                            Planos
                        </h2>

                        <!-- Subheading -->
                        <p>
                            Confira os planos que a KL Fitness Oferece para você!
                        </p>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="pricing-box">
                       <h3>KL Musculação</h3>
                        <div class="price-block">
                             <h3><small>R$</small> 60,00<span> Por Mês</span></h3>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li>Plano mais popular</li>

                        </ul>

                        <a href="#" class="btn btn-outline-dark btn-circled">Consulte Condições</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="pricing-box">
                        <h3>KL Cross</h3>
                        <div class="price-block">
                             <h3><small>R$</small> 70,00<span> Por Mês</span></h3>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li>Para você que deseja mais intensidade</li>

                        </ul>

                        <a href="#" class="btn btn-primary btn-circled">Consulte Condições</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-8 col-md-6">
                    <div class="pricing-box ">
                        <h3>Combo Cross + Musculação</h3>
                        <div class="price-block">
                             <h3><small>R$</small>100,00<span> Por Mês</span></h3>
                        </div>

                        <ul class="price-features list-unstyled">
                            <li>Para você que gosta de sair da rotina</li>

                        </ul>

                        <a href="#" class="btn btn-outline-dark btn-circled">Consulte Condições</a>
                    </div>
                </div>
            </div>
        </div>
    </section>