{% extends 'adminlte/base.html' %}
{% load bootstrap4 %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ver Detalhes</title>

</head>
<body>

<h2><center><b>DETALHES DO ALUNO</b></center></h2>
<br/>
<br/>
<br/>
<br/>
<h4><b>Nome:</b> {{ object.nome }} &ensp; <b>CPF:</b> {{ object.cpf }} &ensp;  <b>Sexo:</b> {{ object.sexo }} &ensp;  <b>Foto:</b> {{ object.foto }} </h4>
<br/>
<br/>
<h4><b>Email:</b> {{ object.email }} &ensp; &ensp;  <b>Telefone:</b> {{ object.telefone }}</h4>
<br/>
<br/>
<h4><b>Endereço:</b> {{ object.endereco }}</h4>
<br/>
<h4><b>Data da Matricula:</b> &ensp; &ensp; {{ data_da_matricula }}</h4>
<br/>
<h4><b>Plano:</b> {{ object.plano }}</h4>
<br/>
<h4><b>Valor:</b> {{ object.valor }} &ensp; <b>Desconto:</b> {{ object.desconto }} &ensp; <b>Valor Total:</b> {{ object.valor_total }}</h4>
<br/>
<h4><b>Número da Matricula:</b> {{ object.num_matricula }}</h4>
<br/>
<h4><b>Observações:</b> {{ object.observacoes }}</h4>

</body>
{% endblock %}


{% bootstrap_javascript jquery='full' %}
</html>